.container{
	display: flex;
	justify-content: space-around;
	position: fixed;
  top: 0;

}

.container > div {
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight:bold;
  color: #ffeead;
}

.other1{
	margin-left:auto;
}

html, body {
  box-sizing: border-box;
  font-family:roboto;
   background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
  height: 100%;
  padding: 10px;
  margin: 10px;
}

h1{
  color:black;
  text-transform:uppercase;
  font-size:24px;
  font-weight:normal;
  text-decoration:underline;
}



body{
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 100px;
}

form{
  margin-left: 200px;
    margin-right: 100px;
    margin-top: 50px;
}

a:link, a:visited{
  background-color:#2BC0E4;
  text-decoration: none;
  color: black;
  padding:10px 10px;
  text-align:center;
  display:inline-block;
}

a:hover{
  color:white;
}

.container > div:nth-child(1) {
  background-color: background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);;; 
}

input[type=text]{
  border: 2px solid black;
    border-radius: 4px;
    background-color: background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    text-decoration:bold;
    color: black;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out
}

input[type=text]:focus {
    width: 35%;
    border: 3px solid white;
    background-color: background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
}

textarea{
  background-color:background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     width:35%;
    border: 2px solid black;
    border-radius: 4px;
}

textarea:focus {
    width: 50%;
    border: 3px solid white;
    background-color: background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
}

input[type=submit]{
    background-color:background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
     background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);;
    border: 1px solid black;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color:white;
    border:2px solid white;
    border-radius: 5px;
    color: black;
}

#down_paragraph{
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
  font-weight:bold;
  margin-top:140px;
}

/*Responsive NavBar*/
@media all and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
  .container > div {
    flex: 1 1 50%;
  }
}